.userprofileimg {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease-in-out;
}

.userprofileimg:hover {
    transform: scale(1.2);
}

#userprofile{
    background-color: #1E1E2C;
    color:white
}

#userprofileinfo{
    background-color: #1E1E2C;
    color:white
}

#userAccount {
    background-color: #1E1E2C;
    color: white
}